# =========================================================================
# Unity 官方推荐的标准 .gitignore 规则
# =========================================================================
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]emoryCaptures/

# =========================================================================
# IDE（编译器）本地临时与缓存文件夹
# =========================================================================
.vs/
.idea/
.vscode/
/out/

# 排除自动生成的工程文件
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.tlog

# 排除崩溃报告和操作系统临时文件
Crash_Data_Report/
sysinfo.txt
.DS_Store
Thumbs.db